<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form >
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage">View Documents Approve/Rejected</h1><br>
            </div>
            <div >
                <table >
                    <thead >
                        <tr>
                            <th>Documents</th>
                            <th>Download Docs</th>
                            <th>Approve Option</th>
                            <th>Rejected Reason</th>
                            <th>Reject Option</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr >
                            <td>document1</td>
                            <td></td>
                            <td><button class="button" class="listbutton">Approve</button></td>
                            <td><textarea name="" id=""  cols="20"></textarea></td>
                            <td><button class="button" class="listbutton">Reject</button></td>
                         </tr>   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<app-footer></app-footer>
