<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form>
    <div class="container" class="tablecontainer" class="viewData">
        <div class="professional-details">
            <h2>Professional Details</h2>

            <p>project Id: {{project_id}}</p>
            <p>serial Number: {{ serial_number }}</p>
            <p>milestone_name: {{ milestone_name }}</p>
            <p>lchg_user_id: {{ lchg_user_id }}</p>
            <p>capture_per : {{ capture_per }}</p>
            <p>rcre_user_id: {{ rcre_user_id }}</p>
            <p>paid_flg: {{ paid_flg }}</p>
            <p>direct_amount: {{ direct_amount }}</p>
            <p>del_flg: {{ del_flg }}</p>
            <p>milestone_exp_date: {{ milestone_exp_date }}</p>
            <p>confirm_flg: {{ confirm_flg }}</p>
            <p>confirmed_date: {{ confirmed_date }}</p>





        </div>


    </div>
</form>
<app-footer></app-footer>