
<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="allighn">
<div class="container">

    <h1 class="title">Bank Details business</h1>
    <div class="content">
        <form [formGroup]="bank" class="#" (ngSubmit)="Bankdetails(bank.value)">
            <div class="user-details">

                <div class="input-box">
                    <label>Name As per Bank</label>
                    <input type="text" placeholder="Enter your name" name="name" formControlName="name" />
                </div>
                <div class="input-box">
                    <label>Bank Name</label>
                    <input type="text" placeholder="Bank name" name="bankname" formControlName="bankname" />
                </div>
                <div class="input-box">
                    <label>Branch Name </label>
                    <input type="text" placeholder="Branch name" name="branchname" formControlName="branchname" />
                </div>
                <div class="input-box">
                    <label> Account Number</label>
                    <input type="text" placeholder="Account name" name="accountnum" formControlName="accountnum" />
                </div>
                <div class="input-box">
                    <label>IFSC Code</label>
                    <input type="text" placeholder="IFSC Code" name="ifsccode" formControlName="ifsccode" />
                </div>

            </div>


            <div class="buttonMiddle">
                <button class="button" type="reset">Back</button>
                <button class="button" type="submit">Verify Profile</button>
                <button class="button" type="">Reject Profile</button>
                <button class="button" type="submit">Delete Profile</button>
            </div>

        </form>
    </div>
    </div>
</div>

<app-footer></app-footer>