<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<form [formGroup]="viewCommonCodeDetailsForm" (ngSubmit)="onSubmit()">
<div class="container" class="tablecontainer" class="viewData">
    <div class="table-content">
        <div class="contentleft">
            <h1 class="titleViewPage">View Common Code</h1>
            <label class="contentleft">Search:</label>
            <input type="text" name="codeId" formControlName="codeId" class="searchData" placeholder="Search Code Id">
        
        </div><br>
        <span>Show</span>
        <select class="show-entries" (change)="onItemsPerPageChange($event)">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
          </select>
        <span>entries</span>
        <div *ngIf="dataLoaded">
            <table>
                <thead>
                    <tr>
                        <th>code_id </th>
                        <th>comm_code_id</th>
                        <th>comm_code_desc</th>
                        <th>del_flg</th>
                        <!-- Add more table headers for additional properties -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of filteredData">
                        <td>{{ row.code_id }}</td>
                        <td>{{ row.comm_code_id }}</td>
                        <td>{{ row.comm_code_desc }}</td>
                        <td>{{ row.del_flg }}</td>
                        <!-- Add more table cells for additional properties -->
                    </tr>
                </tbody>
            </table>
        </div>
      

        <div *ngIf="!dataLoaded">
            <p>Loading data...</p>
        </div>

        <div>
            <button (click)="goToFirstPage()" class="listbutton">First</button>
            <button (click)="goToPreviousPage()"  class="listbutton">Previous</button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button (click)="goToNextPage()" class="listbutton">Next</button>
            <button (click)="goToLastPage()" class="listbutton">Last</button>
        </div>
</div>
</div>
</form>
<app-footer></app-footer>