<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="allighn">

    <div class=" table-container">
        <!-- <div class="alert alert-secondary" role="alert">
            Appraisal submitted successfully for the month
        </div> -->

        <h5 class="tittle">Employee Data</h5>
        <hr>
        <form class="#" [formGroup]="rejected_Appraisel" (ngSubmit)="rejectedAppraisel(rejected_Appraisel.value)">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Review Period & Date</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Position</th>
                        <th scope="col">Project</th>
                        <th scope="col">Total Experience</th>
                        <th scope="col">Nurture Experience</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>

                </tbody>

            </table>

        </form>

    </div>
</div>

<div class="allighn">
    <div class=" table-container"  style="margin-top: -5px;">
        <h5 class="tittle"> Appraisal submitted successfully for the month </h5>
        <hr>
        <form class="#" [formGroup]="rejected_Appraisel" (ngSubmit)="rejectedAppraisel(rejected_Appraisel.value)">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Performance Category</th>
                        <th scope="col">Appraisee Rating</th>
                        <th scope="col">Appraisee Remarks</th>
                        <th scope="col">Appraiser Rating</th>
                        <th scope="col">Appraiser Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Ability at the position</th>
                        <td></td>
                        <td><textarea name="abilityRemarks1" formControlName="abilityRemarks1"></textarea></td>
                        <td> </td>
                        <td><textarea name="abilityRemarks2" formControlName="abilityRemarks2"></textarea></td>
                    </tr>
                    <tr>
                        <th scope="row">Attendance</th>
                        <td></td>
                        <td><textarea name="attendence" formControlName="attendence"></textarea></td>

                        <td></td>
                        <td><textarea name="attendence1" formControlName="attendence1"></textarea></td>

                    </tr>
                    <tr>
                        <th scope="row">Leadership Ability</th>
                        <td></td>
                        <td><textarea name="ledablty" formControlName="ledablty"></textarea></td>

                        <td></td>
                        <td><textarea name="ledabltyRmks"
                                fromControlName="ledabltyRmks"></textarea></td>

                    </tr>
                    <tr>
                        <th scope="row">Ability to meet deadlines</th>
                        <td></td>
                        <td><textarea name="meetdead" formControlName="meetdead"></textarea></td>

                        <td></td>
                        <td><textarea name="meetdeadRmks" formControlName="meetdeadRmks"></textarea></td>

                    </tr>
                    <tr>
                        <th scope="row">Technical Skills</th>
                        <td></td>
                        <td><textarea name="tecskill" formControlName="tecskill"></textarea></td>

                        <td></td>
                        <td><textarea name="tecskillRmks" formControlName="tecskillRmks"></textarea>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Quality of Work</th>
                        <td></td>
                        <td><textarea name="qltwrk" formControlName="qltwrk"></textarea></td>

                        <td></td>
                        <td><textarea name="qltwrkRmks" formControlName="qltwrkRmks"></textarea>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Team Work Ability</th>
                        <td></td>
                        <td><textarea name="temwrk" formControlName="temwrk"></textarea></td>

                        <td></td>
                        <td><textarea name="temwrkRmks" formControlName="temwrkRmks"></textarea>
                        </td>

                    </tr>
                </tbody>

            </table>

        </form>
        <div class="content" style="margin-left: 20px;">
            <div></div>
            <form class="#" [formGroup]="rejected_Appraisel" (ngSubmit)="rejectedAppraisel(rejected_Appraisel.value)">
                <div class="user-details">

                    <div class="input-box">
                        <label class="Details">
                            Employee Concerns/Comments </label>
                        <div>
                            <input style="width: 70%;" type="text" placeholder="Employee Comments"
                                name="employeeComments" formControlName="employeeComments">
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="Details">Future Goals</label>
                        <div>
                            <input style="width: 70%;" type="text" placeholder="Future Goals" name="futureGoals"
                                formControlName="futureGoals">
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="Details">Appraiser Comments</label>
                        <div>
                            <input style="width: 70%;" type="text" placeholder="Future Goals" name="futureGoals1"
                                formControlName="futureGoals1">
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="Details">Appraisal approved by </label>
                        <div>
                            <input style="width: 70%;" type="text" placeholder="Appraisal approved by"
                                name="futureGoals2" formControlName="futureGoals2">
                        </div>
                    </div>


                    <div>
                        <button class="button">Submit</button>
                        <button class="button">Back</button>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div> 
<app-footer></app-footer>