<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="container">
    <h1 class="title">Invoice Generation</h1>
    <div class="content">
        <form [formGroup]="invoice_fp" (ngSubmit)="invoicefp">
            <div class="user-details">
                <div class="input-box">
                    <label class="details">Project Id</label>
                    <input type="number" name="projectId" formControlName="projectId">
                </div>


                <div class="input-box">
                    <label class="details">Invoice Date </label>
                    <input type="date" name="invoiceDate" formControlName="invoiceDate" placeholder="Billing Date">
                </div>


                <div class="input-box">
                    <label class="details">Billed To</label>
                    <textarea id="billedTo" formControlName="billedTo"></textarea>
                </div>


                <div class="input-box">
                    <label class="details">Invoice as per Purchase Order Number</label>
                    <input type="number" name="invoiceOrderNumber" formControlName="invoiceOrderNumber">
                </div>


                <div class="input-box">
                    <label class="details">Milestone Name</label>
                    <input type="text" name="milestoneName" formControlName="milestoneName">
                </div>



                <div class="input-box">
                    <label class="details">Particulars</label>
                    <textarea id="particulars" formControlName="particulars"
                        placeholder="Enter The Particulars"></textarea>
                </div>


                <div class="input-box">
                    <label class="details">SAC Number</label>
                    <input type="number" name="sacNumber" formControlName="SacNumber">
                </div>


                <div class="input-box">
                    <label class="details">Milestone Percentage</label>
                    <input type="number" name="milestonePercentage" formControlName="milestonePercentage">
                </div>


                <div class="input-box">
                    <label class="details">Milestone Amount</label>
                    <input type="number" name="milestoneAmount" formControlName="milestoneAmount">
                </div>


                <div class="input-box">
                    <label class="details">Client GSTIN No</label>
                    <input type="number" name="clientGST" formControlName="clientGST">
                </div>



                <div style="    display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: -2px 113px -1px 9px;">
                    <div class="radioButton">
                        <h1 class="radioButtontitle">Type of Tax</h1>
                        <label>SGST</label>
                        <input type="radio" formControlName="centralTax" name="centralTax" value="Yes">
                        <label>CGST</label>
                        <input type="radio" formControlName="stateTax" name="stateTax" value="No">
                    </div>
                </div>



                <div class="input-box">
                    <label class="details">GST Tax (%)</label>
                    <input type="number" name="gstTax" formControlName="gstTax">
                </div>


                <div class="input-box">
                    <label class="details">Central Tax (%)</label>
                    <input type="number" name="centralTax" formControlName="centralTax">
                </div>


                <div class="input-box">
                    <label class="details">State Tax (%)</label>
                    <input type="number" name="stateTax " formControlName="stateTax">
                </div>


                <div class="input-box">
                    <label class="details">Total Amount Recievable</label>
                    <input type="number" name="totalAmountRecievable " formControlName="totalAmountRecievable">
                </div>


                <div class="input-box">
                    <label class="details">Raised By</label>
                    <input type="number" name="raisedBy " formControlName="raisedBy">
                </div>


                <div class="input-box">
                    <label class="details">Designation</label>
                    <input type="number" name="designation" formControlName="designation">
                </div>


                <div class="input-box">
                    <label class="details">GSTIN</label>
                    <input type="number" name="GSTIN" formControlName="GSTIN">
                </div>


                <div class="input-box">
                    <label class="details">PAN No</label>
                    <input type="number" name="panNo" formControlName="panNo">
                </div>
            </div>
            <div class="button-group">
                <button type="submit" class="button">Back</button>
                <button type="reset" class="button">Clear</button>
                <button type="submit" class="button">Submit</button>
            </div>

        </form>
    </div>
</div>
<app-footer></app-footer>