<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="container" >
  <div >
    <table>
      <label for="" class="title"> Customer Details people</label>
      <tr>
        <th>Customer Name :</th>
        <td>{{customerName}}</td>
      </tr>
      <tr>
        <th>Customer ID :</th>
        <td>{{customerID}}</td>
      </tr>
      <tr>
        <th>Client Address Line 1 :</th>
        <td>{{clientAddressLine1}}</td>
      </tr>
      <tr>
        <th>Client Address Line 2 :</th>
        <td>{{clientAddressLine2}}</td>
      </tr>
      <tr>
        <th>Country Name :</th>
        <td>{{countryName}}</td>
      </tr>
      <tr>
        <th>City Name:</th>
        <td>{{cityName}}</td>
      </tr>
      <label for="" class="title"> Contact Details 1 call</label>
      <tr>
        <th>Client Name 1 :</th>
        <td>{{clientName1}}</td>
      </tr>
      <tr>
        <th>Client Emial Id 1 :</th>
        <td>{{clientEmialId1}}</td>
      </tr>
      <tr>
        <th> Clinet Contact Number 1 :</th>
        <td>{{clinetContactNumber1}}</td>
      </tr>

      <label for="" class="title"> Contact Details 2 call</label>
      <tr>
        <th> Client Name 2 :</th>
        <td>{{clientName2}}</td>
      </tr>
      <tr>
        <th>Client Emial Id 2 :</th>
        <td>{{clientEmialId2}}</td>
      </tr>
      <tr>
        <th>Clinet Contact Number 2 :</th>
        <td>{{clinetContactNumber2}}</td>
      </tr>
      <label for="" class="title">Bank Details business</label>

      <tr>
        <th> GST Number :</th>
        <td>{{GSTNumber}}</td>
      </tr>
      <tr>
        <th> PAN Number :</th>
        <td>{{PANNumber}}</td>
      </tr>
      <tr>
        <th> Remarks :</th>
        <td>{{remarks}}</td>
      </tr>

    </table>
  </div>
  <div>
    <button class="button" > Close</button>
  </div>

</div>
<app-footer></app-footer>