<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="allighn">
    <div class="container">

     
        <h1 class="headding">Please proceed to upload your bills, if applicable!</h1>
        <div class="content">
            <form >
                <div class="user-details">
                    <div class="input-box">
                        <label class="details">Reimbursement Id : </label>
                        <input type="text" placeholder="Reimbusment Id" name="Reimbusment Id" formControlName="Reimbusment Id" >
                    </div>
                </div>
                <div>
                    <button class="button">submit</button>
                   
                </div>
              

            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>

