<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>


<form [formGroup]="searchEmpolyeeDetailsForm" (ngSubmit)="onSubmit(searchEmpolyeeDetailsForm.value)">
    <div class="container" class="tablecontainer" class="viewData">

        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage">Reimbursement Request Details</h1>
                <label class="contentleft"class="input-box">Search:</label>
                <input type="text" placeholder="Reimbursement Id" name="ReimbusmentId" formControlName="ReimbusmentId">
            </div>

            <div *ngIf="dataLoaded">
                <table>
                    <thead>
                        <tr>
                            <th>Reimbursement Id</th>
                            <th>Employee Name</th>
                            <th>Project Id</th>
                            <th>Amount Payable</th>
                            <th>hr_status</th>
                            <th>Action</th>
                            <th *ngIf="rjt==true">Rejection Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of rowData">
                            <td>{{ row.remb_id }}</td>
                            <td>{{ row.emp_name }}</td>
                            <td>{{ row.project_id }}</td>
                            <td>{{ row.amt_payable }}</td>
                            <td>{{ row.status }}</td>

                            
                                <button type="button" class="btn btn-danger"
                                    (click)='viewdetails(row)'>view</button>
                                <span style="margin: 0 10px;"></span>
                          
                            <td *ngIf="rjt==true"><input type="text" placeholder="Reject Reson"
                                    [(ngModel)]="rejectionReason">
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div> 

            <div *ngIf="!dataLoaded">
                <p>Loading data...</p>
            </div>


        </div>
    </div>
</form>



<app-footer></app-footer>


