<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form>
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <form [formGroup]="approveleave" (ngSubmit)="submit(approveleave.value)">
                <div class="contentleft">
                    <h1 class="titleViewPage">Approve/Reject</h1>
                    <label class="contentleft">Search:</label>
                    <input type="text" name="employeeName" formControlName="employeeName" class="searchData"
                        placeholder="EmployeeName">
                </div><br>
                <span>Show</span>
                <select class="show-entries" (click)="onItemsPerPageChange()">
                    <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
                </select>
                <span>entries</span> <br>

                <div class="notification" [ngClass]="{'success': isSuccess, 'error': isError}">
                    {{ message }}
                </div>

                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Leave Type</th>
                            <th>From Date<br>(YYYY-MM-DD)</th>
                            <th>To Date<br>(YYYY-MM-DD)</th>
                            <th>Num Of Days</th>
                            <th>Reason</th>
                            <th style="padding-left: 75px;">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let row of rowData|slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                            <td>{{ row.emp }}</td>
                            <td>{{row.cocd}}</td>
                            <td>{{ row.from_date | date:'yyyy-MM-dd' }}</td>
                            <td>{{ row.to_date | date:'yyyy-MM-dd' }}</td>
                            <td style="padding-left: 56px;">{{ row.availed_leaves}}</td>
                            <td>{{ row.reason}}</td>
                            <td>
                                <div style="margin-right: -32px;">
                                    <button class="button green-button" (click)="approveButtonClicked(row)">Approve</button>
                                    <button class="button red-button" (click)="rejectButtonClicked(row)">Reject</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                </table>
                <br>
            </form>
        </div>
    </div>
</form>
<app-footer></app-footer>