<app-headder></app-headder>
<app-sidebar></app-sidebar>
<br><br><br>

<div class="container">
<h1 >Welcome to Minorks Technologies </h1>

<p>Minorks Technologies is a leading software development company specializing in cutting-edge solutions for businesses.
</p>
<p>With a team of experienced professionals, we deliver high-quality software products and services that help our
    clients achieve their goals.</p>
<p>Our expertise includes web and mobile app development, artificial intelligence, data analytics, and cloud computing.
</p>
</div> 
<br><br><br><br><br><br><br><br>

<app-footer></app-footer>