<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<body>
    <div class="allighn">
        <div class="container">
            <div class="title">Policy Documents </div>

            <div class="content">
                <form class="#" [formGroup]="uploadForm">

                    <div class="user-details">

                        <div class="input-box">
                            <label class="details">Policy Tag</label>
                            <select name="policyTag" formControlName="policyTag" (change)="onPolicyTagChange()">
                                <option value=" ">ALL Policy</option>
                                <option value="LEAVE">Leave Policy</option>
                                <option value="INSURANCE">Insurance Policy</option>
                                <option value="HR">HR Policy</option>
                            </select>
                        </div>

                        <div>
                            <ng-container *ngIf="polLen === 0">
                                <h3>No records found.</h3>
                            </ng-container>
                        
                            <ng-container *ngIf="polDocs && polLen > 0">
                                <h3>Documents:</h3>
                                <ng-container *ngFor="let doc of polDocs; let i = index">
                                    <div>
                                        <!-- <a [href]="doc.url" target="_blank" download>
                                            {{ i + 1 }}. {{ doc }}
                                        </a> -->
                                        <a [href]="doc.url" target="_blank" (click)="onDownload(doc)">
                                            {{ i + 1 }}. {{ doc }}
                                        </a>
                                        <button *ngIf="canDeleteDocuments()" (click)="onDeleteDocument(doc)">
                                            Delete
                                        </button>
                                    </div>
                                    <br>
                                </ng-container>
                            </ng-container>
                        </div>
                        
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>

<app-footer></app-footer>