<div class="container">

    <h1 class="title">ChangePassword</h1>
    <div class="content">
        <div class="alert alert-warning alert-dismissible fade show" *ngIf="notification!=undefined" role="alert">
            <strong>{{notification}}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form [formGroup]="change" class="#" (ngSubmit)="submit(change.value)">
            <div class="user-details">
                <div class="input-box">
                    <div>
                        <label for="currentPassword" class="details">Employee ID :{{employeeId}}</label>

                        <label for="currentPassword" class="details">Current Password</label>
                        <input type="password" id="currentPassword" name="currentPassword"
                            formControlName="currentPassword">
                        <pre></pre>
                        <br>

                    </div>
                    <div>
                        <label for="newPassword" class="details">New Password:</label>
                        <input type="password" id="newPassword" name="newPassword" formControlName="newPassword">
                        <pre></pre>
                        <br>
                    </div>
                    <div>
                        <label for="confirmPassword" class="details">Confirm NewPassword:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword"
                            formControlName="confirmPassword">
                        <pre></pre>

                    </div>
                </div>
            </div>
            <div>
                <button class="button" type="submit" (click)="get()">Change Password</button>
                

            </div>

        </form>
    </div>
</div>