<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="container">
    <nav>
        <ul>
            <li><a href="#" class="card-button">Add Details</a></li>
            <li><a href="#" class="card-button">Modify Details</a></li>
            <li><a href="#" class="card-button">View Details</a></li>
            <li><a href="#" class="card-button">FAQ</a></li>
        </ul>
    </nav>

    <div class="content">
        <form>
            <div class="user-details">
                <div class="input-box">
                    <label class="details">Asset ID</label>
                    <input type="number" name="id" formControlName="id" placeholder="Asset ID">
                </div>
            </div>

            <div class="button-group">
                <button type="submit" class="button">Search</button>
                <button type="reset" class="button">Clear</button>
            </div>
            <br>
        </form>
    </div>
</div>
<app-footer></app-footer>