<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div style="margin-top: 122px; margin-left: 112px; width: 80%; padding: 10px;">
    <div class="alert" *ngIf="notification !== undefined">
        <span class="closebtn" >&times;</span>
        {{ notification }}
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr class="head">
                <th scope="col">REQ ID</th>
                <th scope="col">PROJECT ID</th>
                <th scope="col">EMPLOYEE</th>
                <th scope="col">FROM</th>
                <th scope="col">TO</th>
                <th scope="col">STATUS</th>
                <th scope="col" *ngIf="user_type === 'L1'">Cancel Request</th>
                <th *ngIf="rjt === true">Enter Cancel Reason</th>
                <th scope="col" *ngIf="user_type === 'L3' || user_type === 'F1'">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tq of cancelTravelReqView">
                <td>{{ tq.req_id }}</td>
                <td>{{ tq.project_id }}</td>
                <td>{{ tq.emp_name }}</td>
                <td>{{ tq.from_location }}</td>
                <td>{{ tq.to_location }}</td>
                <td>{{ tq.status || tq.request_status }}</td>
                <td *ngIf="user_type === 'L1'">
                    <button type="button" class="btn btn-danger" *ngIf="user_type === 'L1'"
                            (click)="canReq(tq)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
                <td *ngIf="rjt === true && specifc_req_id === tq.req_id">
                    <input type="text" placeholder="Enter Cancel Reason" [(ngModel)]="rejectReson">
                </td>
                <td *ngIf="user_type === 'L3' || user_type === 'F1'">
                    <button type="button" class="btn btn-success" *ngIf="user_type === 'L3' || user_type === 'F1'"
                            (click)="AprRej(tq,'apr')">Approve</button>
                    <span style="margin: 0 10px;" *ngIf="user_type === 'L3' || user_type === 'A1'"></span>
                    <button type="button" class="btn btn-danger" *ngIf="user_type === 'L3' || user_type === 'F1'"
                            (click)="AprRej(tq,'rej')">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-footer></app-footer>
