<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<form>
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage">UNMark Leave</h1>
            </div><br>
            <span>Show</span>
            <select class="show-entries" (click)="onItemsPerPageChange()">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
            </select>
            <span>entries</span>

            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Leave Type</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Reason</th>
                        <th>Num of Days</th>
                        <th style="padding-left: 36px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let marked of rowData|slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                        <td>{{ marked.emp}}</td>
                        <td>{{ marked.cocd }}</td>
                        <td>{{ marked.from_date | date:'yyyy-MM-dd' }}</td>
                        <td>{{ marked.to_date | date:'yyyy-MM-dd' }}</td>
                        <td>{{ marked.reason }}</td>
                        <td style="padding-left: 56px;">{{ marked.availed_leaves}}</td>

                        <td [ngSwitch]="marked.app_flg">
                                <div style="margin-right: -32px;">
                                    <button class="button blue-button" (click)="unmark(marked)">UnMark</button>
                                </div>
                        </td>
                    </tr>
                </tbody>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            </table>
            <br>
        </div>
    </div>
</form>

<app-footer></app-footer>