<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<head>
    <title>Leave Balance Form</title>
</head>

<body>
    <form [formGroup]="leaveBalanceForm" (ngSubmit)="submit(leaveBalanceForm.value)">
        <div class="">
            <div class="table-content">
                <div class="content">
                    <hr class="white-line">
                    <h4 class="title">Leave Balance - <b id="">{{year}}</b></h4>
                    <hr class="white-line">

                    <div class="row" [ngSwitch]="user_access">
                        <div class="col-md-5">
                            <div class="form-group" *ngSwitchCase="'A1'">
                                <label for="empid" style="color:#f8f9fa;margin-left: 30px">Employee Name <span
                                        style="color:red;font-size: 10pt">*</span></label>
                                <input type="text" name="empname" formControlName="empname">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group select-wrapper">
                                <label for="leaveType" class="details" style="color:#f8f9fa;margin-left: 30px">Leave
                                    Type </label>
                                <select id="leaveType" class="form-control" formControlName="leaveType">
                                    <option value="">--Select--</option>
                                    <option value="EL">Annual</option>
                                    <option value="SL">Sick</option>
                                    <option value="ML">Maternity</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="available_leaves" style="color:#f8f9fa;margin-left: 30px">Total Available
                                    Leaves</label>
                                <input type="text" style="margin-left:30px;width:348px" id="available_leaves"
                                    formControlName="available_leaves" readonly class="form-control"
                                    placeholder="Total Available Leaves">
                            </div>
                        </div>
                    </div>

                    <div class="row" id="quaterly_show">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="quaterly" style="color:#f8f9fa;margin-left: 30px">Availed Leaves
                                    </label>
                                <input type="text" style="margin-left:30px;width:348px" id="aviledleaves"
                                    formControlName="aviledleaves" readonly class="form-control"
                                    placeholder="Availed Leaves ">
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    // Get current year and update the HTML element
                    var currentYearElement = document.getElementById("current-year");
                    var currentYear = new Date().getFullYear();
                    currentYearElement.innerHTML = currentYear;
                </script>
            </div>
        </div>
    </form>
</body>


<app-footer></app-footer>