<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<form class="#" [formGroup]="ctrapp" (ngSubmit)="createApp(ctrapp.value)">
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage">Professional KPI</h1>
                <label class="contentleft">Search:</label>
                <input type="text" name="employeeName" formControlName="employeeName" class="searchData"
                    placeholder="EmployeeName">
            </div><br>
            <span>Show</span>
            <select class="show-entries" (click)="onItemsPerPageChange()">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
            </select>
            <span>entries</span>

            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Indicator(KPI)</th>
                        <th>Weightage</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pkpi of pkpi|slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                        <td>{{ pkpi.Indicator }}</td>
                        <td>{{ pkpi.Weightage }}</td>
                        <td>{{ pkpi.Role }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>

    <br><br>
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage">Behavioral KPI</h1>
                <label class="contentleft">Search:</label>
                <input type="text" name="employeeName" formControlName="employeeName" class="searchData"
                    placeholder="EmployeeName">
            </div><br>
            <span>Show</span>
            <select class="show-entries" (click)="onItemsPerPageChange()">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
            </select>
            <span>entries</span>

           


            <hr> <br>
            <table>
                <thead>
                    <tr>
                        <th>Indicator(KPI)</th>
                        <th>Weightage</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bkpi of bkpi|slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                        <td>{{ bkpi.Indicator }}</td>
                        <td>{{ bkpi.Weightage }}</td>
                        <td>{{ bkpi.Role }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>

</form>

<app-footer></app-footer>
