<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="allighn">
    <div class="container">
        <form>

            <div class="card">
                <div>
                    <h2 class="title">Employee Leave Balance</h2><br>
                    <p>It contains all type of leave balance of an Employee (As on Date).</p> 
                </div>
            </div>
            <br>
            <div>
                <button class="button">EXPORT AS XLS</button>
                <button class="button">Back</button>
            </div>

        </form>
        
    </div>
</div>
<app-footer></app-footer>