<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form>
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage">Milestone To Be Raised</h1>
                <label class="contentleft">Search:</label>
                <input type="text" name="employeeName" formControlName="employeeName" class="searchData"
                    placeholder="EmployeeName">
            </div><br>
            <span>Show</span>
            <select class="show-entries" (click)="onItemsPerPageChange()">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
            </select>
            <span>entries</span>

            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Project Id</th>
                        <th>Project Manager</th>
                        <th>Delivery Manager</th>
                        <th>Milestone Name</th>
                        <th>Percentage</th>
                        <th>Milestone Amount</th>
                        <th>Expected Date</th>
                        <th>Raise Invoice</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let raisedDetails of raisedDetails|slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                        <td>{{ raisedDetails.projectId }}</td>
                        <td>{{raisedDetails.projectManager}}</td>
                        <td>{{raisedDetails.delivaryManager}}</td>
                         <td>{{raisedDetails.milestoneName }}</td>
                        <td>{{raisedDetails.percentage}}</td>
                        <td>{{ raisedDetails.milestoneAmount }}</td>
                        <td>{{raisedDetails.expectedDate}}</td>
                        <td>{{raisedDetails.raiseInvoice}}</td>
    
                    </tr>
                </tbody>
            </table>
            <br>
<!-- 
            <div>
                <pagination-controls> [(page)]="currentPage"
                    [itemsPerPage]="itemsPerPage"
                    [totalItems]="totalItems"
                </pagination-controls>
            </div> -->
            
            <div >
                <button (click)="goToFirstPage()" [disabled]="currentPage === 1" class="listbutton">First</button>
                <button (click)="goToPreviousPage()" [disabled]="currentPage === 1" class="listbutton">Previous</button>
                <span>Page {{ currentPage }} of {{ totalPages }}</span>
                <button (click)="goToNextPage()" [disabled]="currentPage === totalPages" class="listbutton" >Next</button>
                <button (click)="goToLastPage()" [disabled]="currentPage === totalPages" class="listbutton" >Last</button>
              </div>
              
            
        </div>
    </div>
</form>
<app-footer></app-footer>




