<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form [formGroup]="viewLeaveForm" (ngSubmit)="onSubmit(viewLeaveForm.value)">
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage">ViewLeavesData</h1>
            </div><br>
            <span>Show</span>
        <select class="show-entries" (change)="onItemsPerPageChange($event)">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
          </select>
        <span>entries</span>
            <hr>
            <div *ngIf="dataLoaded">
                <table>
                    <thead>
                        <tr>
                            <th>Leave Type</th>
                            <th>Allocated Year</th>
                            <th>NoOfDays Allocated</th>
                            <th>Description</th>
                            <th>Delete</th>
                            <th>Modify</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of rowData">
                            <td>{{ row.leave_type }}</td>
                            <td>{{ row.year}}</td>
                            <td>{{ row.allocated_leaves}}</td>
                            <td>{{ row.description}}</td>
                            <td><button class="button" class="listbutton" (click)="deleteHoliday(row)" >Delete</button></td>
                            <td><button class="button" class="listbutton" (click)="modifyHoliday(row)" >Modify</button></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
          
    
            <div *ngIf="!dataLoaded">
                <p>Loading data...</p>
            </div>
          

            <div>
                <button (click)="goToFirstPage()" class="listbutton">First</button>
                <button (click)="goToPreviousPage()"  class="listbutton">Previous</button>
                <span>Page {{ currentPage }} of {{ totalPages }}</span>
                <button (click)="goToNextPage()" class="listbutton">Next</button>
                <button (click)="goToLastPage()" class="listbutton">Last</button>
            </div>  
        </div>
    </div>
</form>
<app-footer></app-footer>
