
  
  /* .header {
    padding: 10px;
    background-color: #f7f7f7;
    text-align: center;
  } */
  
  /* .footer {
    padding: 10px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
 
  .footer button {
    margin: 0 5px;
  } */


  