<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<body>
    <div class="allighn">
        <div class="container">

            <div class="title">Upload Documents </div>
                <div class="content">
                    <form class="#" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
                        
                        <div class="user-details">
                            <div class="input-box">
                                <label class="details">Policy Tag</label>
                                <select name="policyTag" formControlName="policyTag">
                                    <option value=""></option>
                                    <option *ngFor="let data of policyTag" [value]="data.comm_code_desc">{{
                                        data.comm_code_desc }}</option>
                                </select>    
                            </div>

                            <div class="input-box">
                                <label class="details">Document Name</label>
                                <input type="text" name="docName" formControlName="docName">
                            </div>

                            <div class="fileUpload">
                                <div class="details">
                                    <label class="details">Upload Document </label>
                                </div>
                                <input type="file" name="uploadDoc" (change)="onFileChange($event)">
                            </div>
                        </div>

                        
                        <div>
                            <button class="button" type="reset">Clear</button>
                            <button class="button">Submit</button>
                        </div>

                    </form>

                </div>
        </div>
    </div>
</body>
<app-footer></app-footer>