<div class="container">

    <h1 class="title">Forgot Password?</h1> <br>
    <h3 class="headding">You can reset your password here.</h3>
    <div class="content">
        <form [formGroup]="forgot" class="#" (ngSubmit)="reset(forgot.value)">
            
            <div class="user-details">
                <div class="input-box">
                    <input type="text" placeholder="Employee Id" name="employeeId" formControlName="employeeId" />
                </div>
            </div>
            <div>
                <button class="button">Generate OTP</button> 
                <button class="button" type="reset">reset</button>
            </div>
            <div class="user-details">
                <div class="input-box">
                    <input type="number" placeholder="Enter your OTP" name="otp" maxlength="6" formControlName="otp" />
                </div>
            </div>
            <div>
                <button class="button" type="reset">Reset Password</button>
                <button class="button" type="reset">back...</button>
            </div>

        </form>
    </div>
</div>