<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form>
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage">Cancel Leave</h1>
            </div><br>
            <span>Show</span>
            <select class="show-entries" (click)="onItemsPerPageChange()">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
            </select>
            <span>entries</span>
            
            <div class="notification" [ngClass]="{'success': isSuccess, 'error': isError}">
                {{ message }}
            </div>

            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Reason</th>
                        <th>Approver</th>
                        <th>Num of Days</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let viewLeave of rowData | slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                        <ng-container [ngSwitch]="viewLeave.app_flg">
                            <td *ngSwitchCase="'P'">{{ viewLeave.cocd }}</td>
                            <td *ngSwitchCase="'P'">{{ viewLeave.from_date | date:'yyyy-MM-dd' }}</td>
                            <td *ngSwitchCase="'P'">{{ viewLeave.to_date | date:'yyyy-MM-dd' }}</td>
                            <td *ngSwitchCase="'P'">{{ viewLeave.reason }}</td>
                            <td *ngSwitchCase="'P'">{{ viewLeave.emp }}</td>
                            <td *ngSwitchCase="'P'" style="padding-left: 56px;">{{ viewLeave.availed_leaves }}</td>
                            <td *ngSwitchCase="'P'">
                                <button class="listbutton" (click)="CancelButtonClicked(viewLeave)">Cancel</button>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            </table>
            <br>

        </div>
    </div>
</form>
<app-footer></app-footer>