<nav>
    <div class="logo">
        <img src="../../../assets/images/Logo.png" alt="">
    </div>
    <div class="user">
       
        <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
          <div *ngIf="photoUrl">
            <img [src]="photoUrl" alt="User Photo">
          </div>
          <div class="profilePhoto">
            <input type="photo" placeholder="profilePhoto" (change)="onFileSelected($event)" [attr.data-file-name]="selectedFileName"  accept=".jpg,.png">
          </div>

          <div>
              <h1>{{username}}</h1>
          </div>

          <div>
               <i class="fa fa-bell" ></i>
          </div>
          
          <div>
              <button (click)="logout()">Logout</button>
          </div>
    </div>

</nav>

