<nav>
    <div class="logo">
        <img src="../../../assets/images/Logo.png" alt="">
    </div>
    <div class="user">
       
        <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>


          <!-- 1 -->
          <!-- <div class="user-profile-container">
            <div *ngIf="photoUrl">
              <img [src]="photoUrl" alt="User Photo" class="user-profile-photo">
            </div>
            <div class="profilePhoto">
              <input type="file" placeholder="profilePhoto" name="uploadDoc" (change)="onFileSelected($event)" [attr.data-file-name]="selectedFileName"  accept=".jpg,.png">
            </div>
          </div> -->

          <!-- 2 -->
          <div class="user-profile-container">
            <label for="profilePhotoInput" class="profilePhoto">
              <div *ngIf="photoUrl">
                <img [src]="photoUrl" alt="User Photo" class="user-profile-photo">
              </div>
              <div *ngIf="!photoUrl" class="placeholder">
                <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                
              </div>
              <input
                type="file"
                id="profilePhotoInput"
                name="uploadDoc"
                (change)="onFileSelected($event)"
                accept=".jpg,.png"
                style="display: none;"
              >
            </label>
          </div>
          

          <div>
            <h1>{{username}}</h1>
        </div> 

          <div>
               <i class="fa fa-bell" ></i>
          </div>
          
          <div>
              <button (click)="logout()">Logout</button>
          </div>
    </div>

</nav>

