<ng-container *ngIf="employeeData && employeeData.eid">
  <label class="hedr">
    <h4>{{ header }}</h4>
  </label>
  <ng-container *ngIf="documents.length > 0; else noDocuments">
    <ol>
      <li *ngFor="let doc of documents">
        <span class="document-list">
          <h5 class="document-text">{{ doc }}</h5>

          <!-- Add the downloadFile function call for downloading the file -->
          <a (click)="downloadFile(doc, employeeData.eid)" title="Download File" class="document-icons"><i
              class="fa fa-download" aria-hidden="true"></i></a>

          <a (click)="sendEMail(doc, employeeData.eid, employeeData.emp_access)" title="Send Mail"
            class="document-icons"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </span>
      </li>
    </ol>
    <div class="notification" [ngClass]="{'success': isSuccess, 'error': isError}">
      {{ message }}
    </div>
  </ng-container>

  <ng-template #noDocuments>
    <p>No documents found.</p>
  </ng-template>
  <br />
</ng-container>