a {
  color: #070707;
}

.container {
  max-width: 1000px;
}

.fa-download:before {
  content: "\f019";
  margin-left: 50px;
  margin-right: 37px;
}



    /* content css */
    .hedr{
      color: blue;
    }


/* Add your styles here */
.document-list {
    width: 100%;
    word-wrap: break-word;
    display: flex;
    align-items: center;
  }
  
  .document-text {
    margin: 0;
    flex: 1;
  }
  
  .document-icons {
    margin-left: 5px;
  }
  

  /* succes notification */
  
  .notification {
    position: fixed;
    top: 241px;
    right: 644px;
    width: 260px;
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .success {
    background-color: #4caf50;
  }
  
  .error {
    background-color: #f44336;
  }
  
  .notification.show {
    opacity: 1;
  }
  