/* @import url('../../app/request-module/leave-summary/leave-summary.component.css'); */
.container1{
    max-width: 946px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 160px;
  margin-bottom: 66px;
}