<div *ngIf="faq=='prjectFAQ'">
    <app-headder></app-headder>
    <app-topbar></app-topbar>
    <app-sidebar></app-sidebar>
    <div class="allighn">

        <div class="container1">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                            style="position: revert;">
                            Q1. Why should we create a customer ID?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">The customer id is mandatory as it becomes the unique id of the
                            customer.
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
                            style="position: revert;">
                            Q2. What can we give in customer ID field?

                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample" style="position: revert;">
                        <div class="accordion-body"> It is an alpha numeric code. Maximum of 4 characters are allowed..

                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->


                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree" style="position: revert;">
                            Q3. How is the project ID created?

                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Project Id is a combination of customer class + customer Id +
                            project
                            type + running sequence as entered while creation of project. Example:- EV-PNB-CORM-1
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour" style="position: revert;">
                            Q4. Why are we giving billing address details while creating project?


                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Address given here will be autopopulated in invoice module.
                            Invoices
                            will then be generated to the given address.
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive" style="position: revert;">
                            Q5. What currency should we follow for Budget details?



                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Please use the project currency for completing the same.
                        </div>
                    </div>
                </div>

                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix"
                            style="position: revert;">
                            Q6. What are the components of budget?

                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Components of budget are the break up amounts of the total budget.
                            Example: Components such as - Salary,Perdiem,Travel and Others.
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeven" aria-expanded="false"
                            aria-controls="flush-collapseSeven" style="position: revert;">
                            Q7. What is convertion rate?

                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">As part of budgeting in Project Module, projects across currencies
                            (countries) needs to be converted to INR.

                        </div>
                    </div>
                </div>

                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEight" aria-expanded="false"
                            aria-controls="flush-collapseEight" style="position: revert;">
                            Q8. When can a project be closed?

                        </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Project is closed, when all milestones are raised/paid and all
                            employees
                            are de-allocated.


                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseNine" aria-expanded="false"
                            aria-controls="flush-collapseNine" style="position: revert;">
                            Q9. How to allocate employees to a particular project?
                        </button>
                    </h2>
                    <div id="flush-collapseNine" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            a) Before allocation of employees, make sure the respective project is created in add
                            project
                            details.
                            b) Click on project module available in the employee dashboard.
                            c) Click on Project Allocation tab.
                            d) In project allocation , select the employees (or single employee) to be allocated from
                            the
                            employee drop down provided.
                            e) Select project ID, reporting manager, percentage allocation, employee location and
                            allocation
                            start date and end date.(Allocation start date and end date must be between project start
                            and
                            end date)
                            f) Click submit the employees will be allocated to the selected project ID.
                            g) Modification and view of allocation details can be done in modify allocation/view
                            allocation
                            tabs respectively.
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen"
                            style="position: revert;">
                            Q10. Can allocation percentage be less than 100?

                        </button>
                    </h2>
                    <div id="flush-collapseTen" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Only single employee allocation can be less than 100. For bulk
                            allocation, percentage will be only 100%.
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEleven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEleven" aria-expanded="false"
                            aria-controls="flush-collapseEleven" style="position: revert;">
                            Q11. How are salary and perdium components calculated?

                        </button>
                    </h2>
                    <div id="flush-collapseEleven" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Perdium component will be calculated only for onsite location and
                            salary
                            for
                            both onsite and offshore location. The calculation is based on number of days between
                            allocation
                            start
                            date and allocation end date for the allocated employee

                        </div>
                    </div>
                </div>

                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwele">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwele" aria-expanded="false"
                            aria-controls="flush-collapseTwele" style="position: revert;">
                            Q12. Can allocation be modified?


                        </button>
                    </h2>
                    <div id="flush-collapseTwele" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingTwele" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Yes! Allocation details can be modified under Modify Allocation
                            tab.

                        </div>
                    </div>
                </div>

                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThirteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThirteen" aria-expanded="false"
                            aria-controls="flush-collapseThirteen" style="position: revert;">
                            Q13. What is Project Allocation View and Employee Allocation View?

                        </button>
                    </h2>
                    <div id="flush-collapseThirteen" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Allocation view can be done in two ways.
                            a) Project Allocation View: The allocation details of all the employees will be displayed
                            under
                            a particular project.
                            b) Employee Allocation View : The allocation details of a particular employee across
                            multiple
                            projects will be displayed.

                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFourteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFourteen" aria-expanded="false"
                            aria-controls="flush-collapseFourteen" style="position: revert;">
                            Q14. Can an employee be allocated in modify allocation?

                        </button>
                    </h2>
                    <div id="flush-collapseFourteen" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingFourteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Yes! New employee can be added to an existing allocation, in modify
                            mode..


                        </div>
                    </div>
                </div>

                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFifteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFifteen" aria-expanded="false"
                            aria-controls="flush-collapseFifteen" style="position: revert;">
                            Q15. Individual de-allocation of an employee is possible?

                        </button>
                    </h2>
                    <div id="flush-collapseFifteen" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingFifteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Yes! Employee can be de-allocated from the project in modify
                            allocation
                            tab by clicking on dealloc checkbox.
                        </div>
                    </div>
                </div>

                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading16">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse16" aria-expanded="false" aria-controls="flush-collapse16"
                            style="position: revert;">
                            Q16. What is Project De-allocation?

                        </button>
                    </h2>
                    <div id="flush-collapse16" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-heading16" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">A project as a whole can be de-allocated. All the employees under
                            that
                            project will be de-allocated.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>

</div>



<!-- ////////////////////////////////////reimbursement FAQ's/////////////////////////////////////////////// -->
<div *ngIf="faq=='ReimbursementRAQ'">
    <app-headder></app-headder>
    <app-topbar></app-topbar>
    <app-sidebar></app-sidebar>
    <div class="allighn">


        <div class="container1">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                            style="position: revert;">
                            Q1. How do I initiate claim request?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You can claim your bills entering bill details in the "Initate
                            Reimbursement" tab.Kindly attach the soft copy if applicable.

                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
                            style="position: revert;">
                            Q2. How long does it take to process a claim?

                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample" style="position: revert;">
                        <div class="accordion-body">Once the request is initated it will be approved by your respective
                            reporting manager.After complete verification of your original documents(not softcopy) by
                            Finance manager, payment will be done.

                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->


                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree" style="position: revert;">
                            Q3.To whom should I submit my original documents?

                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You should submit your original documents like accomodation bills
                            and
                            other expenses to Finance Manager.
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour" style="position: revert;">
                            Q4.What is the time limit within which I should submit the original documents?


                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">On the date of manager's approval within 7 days you should submit
                            the
                            document or your request will be autorejected.
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive" style="position: revert;">
                            Q5.Once the request is autorejected, is it possible for me to initate other request for the
                            same
                            bill details



                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Yes,you are allowed to initate another request with different
                            reimbursement ID for same bill details, incase if the request is autorejected.
                        </div>
                    </div>
                </div>

                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix"
                            style="position: revert;">
                            Q6.Can I claim bill amount in all the currencies?

                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> No,you can claim bill amount only in Indian Currency(₹).
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeven" aria-expanded="false"
                            aria-controls="flush-collapseSeven" style="position: revert;">
                            Q7.May I know which website to pass an eye over for exchange rate?

                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Kindly, visit "www.xe.com/currencyconverter" link for the exchange
                            rate.

                        </div>
                    </div>
                </div>

                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEight" aria-expanded="false"
                            aria-controls="flush-collapseEight" style="position: revert;">
                            Q8.Is scanned proof mandatory for all type of claims ?

                        </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">No,It is mandatory for only for Hotel bills and Travel expenditures.


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<!-- ////////////////////////////////////Travel FAQ's/////////////////////////////////////////////// -->

<div *ngIf="faq=='TravelFaq'">
    <app-headder></app-headder>
    <app-topbar></app-topbar>
    <app-sidebar></app-sidebar>
    <div class="allighn">


        <div class="container1">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                            style="position: revert;">
                            Q1.How do I raise Travel request?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">All employees have access to raise travel request iff employee is
                            allocated to travel onsite on particular project. Under "Initiate Travel request" menu user
                            can raise a request by entering valid inputs.

                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
                            style="position: revert;">
                            Q2.Is a Travel Request required in order to travel?

                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample" style="position: revert;">
                        <div class="accordion-body">Yes,one must raise a request to travel onsite since it has to be
                            authorized by respective reporting manager and higher authorities.

                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->


                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree" style="position: revert;">
                            Q3.Whom do I contact for assistance?

                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Once the raised request approved by your Manager, kindly contact
                            Financial Head for further booking process.
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour" style="position: revert;">
                            Q4.Where do am I able to review the requests raised by me?


                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Employee is allowed to view the requests raised by them categorized
                            by status(pending or approved or rejected) which is stored under "View Request" menu option.
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive" style="position: revert;">
                            Q5.Can I modify my travel request initiated?



                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Employee is allowed to modify his/her travel request which fall in
                            the catagory of the status pending,approved by manager or confirmed by Finance.
                        </div>
                    </div>
                </div>

                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix"
                            style="position: revert;">
                            Q6.Can I cancel my travel request initiated?

                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Employee is allowed to cancel his/her travel request which fall in
                            the catagory of the status pending,approved by manager or confirmed by Finance.
                        </div>
                    </div>
                </div>
                <!-- ////////////////////////////// -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEight" aria-expanded="false"
                            aria-controls="flush-collapseEight" style="position: revert;">
                            Q7.Can I re-call the request which has been rejected by higher authorities?

                        </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" style="position: revert;"
                        aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">No, new request has to be raised.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>




<!-- <app-footer></app-footer> -->