

<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>



<div class="view-details" >
    <h2>View IT Details</h2>
    <p>Asset ID : {{ asset_id }}</p>
    <p>Product : {{ product }}</p>
    <p>Make : {{ make }}</p>
    <p>SerialNo : {{ serial_no }}</p>
    <p>Model : {{ model }}</p>
    <p>HostName : {{ host_name }}</p>
    <p>Ip Address : {{ ip_addr }}</p>
    <p>Os : {{ os }}</p>
    <p>Os_Type : {{ os_type }}</p>
    <p>Software : {{ software }}</p>
    <p>ram : {{ ram }}</p>
    <p>Processor : {{ processor }}</p>
    <p>Hard Disk : {{ hard_disk }}</p>
    <p>Accessories : {{ accessories }}</p>
    <p>Window Product Key : {{ window_product_key }}</p>
</div>


<app-footer></app-footer>





