<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container">
    <h1 class="title">Modify Common Code</h1>
    <div class="content">
        <form [formGroup]="modifyCommonCodeDetailsForm" (ngSubmit)="onSubmit(modifyCommonCodeDetailsForm.value)">
            <div class="user-details">
            <div class="input-box">
                <label class="details">Code Id</label>
                <input type="text" name="code_id" formControlName="code_id">
            </div>
        </div>
        <div class="user-details">
            <div class="input-box">
                <label class="details">Common Code Id</label>
                <input type="text" name="comm_code_id" formControlName="comm_code_id">
            </div>
        </div>
        <div class="user-details">
            <div class="input-box">
                <label for="description">Common Code Description</label>
                <textarea id="comm_code_desc" class="form-control" formControlName="comm_code_desc"></textarea>
            </div>
          </div>

            <div class="button-group">
                <button type="reset" class="button">Back</button>
                <button type="submit" class="button">Modify Code</button>
                <button type="reset" class="button">Clear</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>

