<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container1">
    <h4 class="header">Leave Application FAQ's </h4>
    <div class="question" *ngFor="let faq of faqs; let i = index">
      <div class="question-header" (click)="toggleAnswer(i)">
        {{ faq.question }}
        <span class="dropdown-icon" [ngClass]="{'open': faq.showAnswer}">&#9662;</span>
      </div>
      <div class="answer" [ngClass]="{'show': faq.showAnswer}">
        {{ faq.answer }}
      </div>
    </div>
  </div>

<app-footer></app-footer>