<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form [formGroup]=" viewNonItAssetForm" (ngSubmit)="onSubmit()" >
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage">View It Allocated Details</h1>
                <label class="contentleft">Search:</label>
            <input type="text"  name="assetId" formControlName="assetId" class="searchData" placeholder="Search Asset Id" >
             <button  style="color: aliceblue; background-color: azure; border: 1px white;"></button>
        </div><br>
            <span>Show</span>
        <select class="show-entries" (change)="onItemsPerPageChange($event)">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
          </select>
        <span>entries</span>
            <hr>
            <div *ngIf="dataLoaded">
                <table>
                    <thead>
                        <tr>
                            <th>Asset Id</th>
                            <th>Employee Id</th>
                            <th>Employee Name</th>
                            <th>Allocated Date</th> 
                            <th>Return Date</th>    
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of filteredData">
                            <td>{{ row.asset_id }}</td>
                            <td>{{ row.emp_id }}</td>
                            <td>{{ row.emp_name}}</td>
                            <td>{{ row.allocdate}}</td>   
                            <td>{{ row.rdate}}</td>
                    </tbody>
                </table>
            </div>
          
            <div *ngIf="!dataLoaded">
                <p>Loading data...</p>
            </div>
    
            <div>
                <button (click)="goToFirstPage()" class="listbutton">First</button>
                <button (click)="goToPreviousPage()"  class="listbutton">Previous</button>
                <span>Page {{ currentPage }} of {{ totalPages }}</span>
                <button (click)="goToNextPage()" class="listbutton">Next</button>
                <button (click)="goToLastPage()" class="listbutton">Last</button>
            </div>  
        </div>
    </div>
</form>
  <app-footer></app-footer>
 
  
  
  
  
  
  
  
