<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form>
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage">View Leave</h1>
            </div><br>
            <span>Show</span>
            <select class="show-entries" (click)="onItemsPerPageChange()">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
            </select>
            <span>entries</span>

            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Reason</th>
                        <th>Approver</th>
                        <th>Num of Days</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let viewLeave of rowData|slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                        <td>{{ viewLeave.cocd }}</td>
                        <td>{{ viewLeave.from_date | date:'yyyy-MM-dd' }}</td>
                        <td>{{ viewLeave.to_date | date:'yyyy-MM-dd' }}</td>
                        <td>{{ viewLeave.reason }}</td>
                        <td>{{ viewLeave.emp}}</td>
                        <td style="padding-left: 56px;">{{ viewLeave.availed_leaves}}</td>

                        <td [ngSwitch]="viewLeave.app_flg">
                            <span *ngSwitchCase="'Y'">Approved</span>
                            <span *ngSwitchCase="'N'">Rejected</span>
                            <span *ngSwitchCase="'P'">Pending</span>
                        </td>

                    </tr>
                </tbody>
            </table>
            <br>

            <!-- <div>
                <pagination-controls> [(page)]="currentPage"
                    [itemsPerPage]="itemsPerPage"
                    [totalItems]="totalItems"
                </pagination-controls>
            </div> -->
        </div>
    </div>
</form>
<app-footer></app-footer>