<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form>
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">
            <div class="contentleft">
                <h1 class="titleViewPage" >View Leave</h1>
                <label class="contentleft">Search:</label>
                <input type="text" name="employeeName" formControlName="employeeName" class="searchData"
                    placeholder="EmployeeName">
            </div><br>
            <span>Show</span>
            <select class="show-entries" (click)="onItemsPerPageChange()">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</option>
            </select>
            <span>entries</span>

            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>From Date<br>(YYYY-MM-DD)</th>
                        <th>To Date<br>(YYYY-MM-DD)</th>
                        <th>Reason</th>
                        <th>Approver</th>
                        <th>NoOfDays</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let viewLeave of viewLeave|slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                        <td>{{ viewLeave.leaveType }}</td>
                        <td>{{viewLeave.fromDate}}</td>
                        <td>{{ viewLeave.toDate }}</td>
                        <td>{{ viewLeave.reason }}</td>
                        <td>{{ viewLeave.approver}}</td>
                        <td>{{ viewLeave.noOfDays}}</td>
                        <td>{{ viewLeave.status }}</td>
                    </tr>
                </tbody>
            </table>
            <br>

            <!-- <div>
                <pagination-controls> [(page)]="currentPage"
                    [itemsPerPage]="itemsPerPage"
                    [totalItems]="totalItems"
                </pagination-controls>
            </div> -->
        </div>
    </div>
</form>
<app-footer></app-footer>
