<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container" class="container" >
    <h1 class="title">Search Request Details</h1>
    <div class="content">
        <form [formGroup]="MyRequest" (ngSubmit)="onSubmit(MyRequest.value)">
            <div class="user-details">
                <div class="input-box">
                    <label class="details">Reimbusment Id</label>
                    <input type="text" placeholder="Reimbusment Id" name="ReimbusmentId" formControlName="ReimbusmentId" />
                </div>
            </div>
            <div>
                <button class="button">Search</button>
                <button class="button" type="reset">Clear</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>