<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="container">
    <h1 class="title">Compact Report Download</h1>

    <div class="content">
        <form [formGroup]="register" class="#" (ngSubmit)="login(register.value)">
            <div class="user-details">
                 <div class="input-box">
                    <label class="details">Report Type</label>
                    <select name="ReportType" formControlName="ReportType" placeholder="Employee Id">
                        <option value=""></option>
                        <option value="A+">Employee leave Data</option>
                        <option value="A-">mployee Professional Details</option>
                        <option value="B+">mployee Personal Details</option>
                        <option value="B-">mployee Leave Balance</option>

                    </select>
                </div>
                </div>
                <div class="user-details">
                <div class="input-box">
                    <label class="details">Employee Id </label>
                    <input type="text" name="employeeId" placeholder="Employee Id">
                </div>
            </div>

            <div>
                <button class="button" routerLink="/reportdetails">Back</button>
                <button class="button">Pick Report</button>
                <button class="button" type="reset">Clear</button>
            </div>
        
        </form>
        </div>
    </div>

<app-footer></app-footer>