.container {
    max-width: 1000px;
  }
    
    /* content css */
      .hedr{
        color: blue;
      }
  
  
  /* Add your styles here */
  
  .document-list {
    width: 100%;
    word-wrap: break-word;
    padding: 0px 0; /* Add padding to adjust the distance between documents */
  }
  
  .document-text {
    margin: 0;
    flex: 1;
    margin-right: 125px;
  }
  
  .document-icons {
    /* Remove margin-left to place the button and icon beside the document text */
    display: flex;
    align-items: center;
  }
  
  .document-item {
    display: flex;
    align-items: center;
  }
  
    /* succes notification */
    
    .notification {
      position: fixed;
      top: 241px;
      right: 644px;
      width: 260px;
      padding: 10px;
      font-size: 14px;
      border-radius: 7px;
      color: #fff;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    
    .success {
      background-color: #4caf50;
    }
    
    .error {
      background-color: #f44336;
    }
    
    .notification.show {
      opacity: 1;
    }
    