<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="container">
    <h1 class="title">Modify IT Asset Allocation</h1>
    <div class="content">
        <form [formGroup]="modifyItAssetAllocationForm" (ngSubmit)="submit(modifyItAssetAllocationForm.value)">

            <div class="user-details">
                <div class="input-box">
                    <label class="details">Asset ID</label>
                    <input type="number" name="assetId" formControlName="assetId" placeholder="Asset ID">
                </div>



                <div class="input-box">
                    <label class="details">Employee ID</label>
                    <input type="number" name="id" formControlName="employeeId" placeholder="Employee ID">
                </div>



                <div class="input-box">
                    <label class="details">Employee Name</label>
                    <input type="text" name="employeeName" formControlName="employeeName" placeholder="EmpolyeeName">
                </div>




                <div class="input-box">
                    <label class="details">Allocation Date</label>
                    <input type="date" name="allocationDate" formControlName="allocationDate">
                </div>


                <div class="input-box">
                    <label class="details">Return Date</label>
                    <input type="date" name="allocationDate" formControlName="returnDate">
                </div>

                
            </div>
            <div class="button-group">
                <button type="submit" class="button">Submit</button>
                <button type="reset" class="button">Clear</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>


