<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="container">
    <h1 class="title">Modify Asset Allocation</h1>
    <div class="content">
        <form [formGroup]="modifyItAssetAllocationForm" (ngSubmit)="onSubmit(modifyItAssetAllocationForm.value)">

            <div class="user-details">
                <div class="input-box">
                    <label class="details">Asset ID</label>
                    <input type="text" name="asset_id" formControlName="asset_id" placeholder="Asset ID">
                </div>

                <div class="input-box">
                    <label class="details">Employee ID</label>
                    <input type="number" name="empId" formControlName="empId" placeholder="Employee ID">
                </div>



                <div class="input-box">
                    <label class="details">Employee Name</label>
                    <input type="text" name="emp_name" formControlName="emp_name" placeholder="EmpolyeeName">
                </div>


                <div class="input-box">
                    <label class="details">Allocation Date</label>
                    <input type="date" name="allocdate" formControlName="allocdate">
                </div>


                <div class="input-box">
                    <label class="details">Return Date</label>
                    <input type="date" name="rdate" formControlName="rdate">
                </div>


            </div>
            <div class="button-group">
                <button type="submit" class="button">Submit</button>
                <button type="reset" class="button">Clear</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>