<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<form>
    <div class="container" class="tablecontainer" class="viewData">
        <div class="table-content">

            <h1 class="titleViewPage">Complete your appraisal for the month</h1> <br><br>



            <table>
                <thead>
                    <tr>
                        <th>Professional KPI</th>
                        <th>Weightage</th>
                        <th>Rating</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="serchdata" type="text" name="Indicators"></td>
                        <td><input class="serchdata" type="text" name="Weightage"></td>
                        <td>
                            <select class="tableselect">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td><input class="serchdata" type="text" name="Remarks"></td>
                    </tr>
                </tbody>
            </table>


        </div>



        <div class="table-content">

            <table>
                <thead>
                    <tr>
                        <th>Behavioural KPI</th>
                        <th>Weightage</th>
                        <th>Rating</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="serchdata" type="text" name="Indicators"></td>
                        <td><input class="serchdata" type="text" name="Weightage"></td>
                        <td>
                            <select class="tableselect">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td><input class="serchdata" type="text" name="Remarks"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>




<form class="#" [formGroup]="employee_comment" (ngSubmit)="comment(employee_comment.value)">
    <div class="user-details">
        <div class="input-box">
            <label class="details">Employee Concerns/Comments :</label> <br>
            <textarea id="comment" name="comment" formControlName="comment" required></textarea>
        </div>
    </div>
    <div class="user-details">
        <div class="input-box">
            <label class="">Future Goals :</label> <br>
            <textarea id="goals" name="goals" formControlName="goals" required></textarea>

        </div>
    </div>
</form>

<h3 class="headding">To be approved by : Arkesh</h3> <br>
<div>
    <button class="button" type="reset">cancel</button>
    <button class="button" type="reset">Submit</button>
</div>
<app-footer></app-footer>
 







