<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container">
    <h1 class="title">Download Bulk - Employee's Leave Details with Inputs</h1>
    <div class="content">
        <form [formGroup]="leaveBalRpt" (ngSubmit)="submit(leaveBalRpt.value)">
            <div class="user-details">
                
                <div class="input-box">
                    <label for="leaveType" class="details">Leave Type </label>
                    <select id="leaveType" class="form-control" formControlName="leaveType" required>
                        <option value="">--Select--</option>
                        <option value="ALL">ALL Leaves Type</option>
                        <option *ngFor="let data of leave_type" [value]="data.comm_code_id">{{
                            data.comm_code_desc }}</option>
                    </select>
                    <pre></pre>
                </div>


                <div class="input-box">
                    <label class="details">From Date</label>
                    <input type="date" name="fromDate" formControlName="fromDate" required>
                </div>
                <div class="input-box">
                    <label class="details">To Date</label>
                    <input type="date" name="toDate" formControlName="toDate" required>
                </div>

            </div>

            <div>
                <button class="button">Back</button>
                <button class="button">Pick Report</button>
                <button class="button" type="reset">Clear</button>
            </div>

        </form>
    </div>
</div>
<app-footer></app-footer>