
a{
    color: #1931cd;
    text-decoration: none;      
    text-align: center;
    margin-left: 10px;
  }


input[type="password"].invalid {
  border-color: red;
}

p.invalid {
  color: red;
  margin-top: 10px;
  font-size: 16px;
}
.container{
  margin-bottom: 96px;
} 


