<div class="allighn">
    <div class="container">

        <h1 class="title">Login </h1>
        <div class="content">

            <form [formGroup]="Login" class="#" (ngSubmit)="login(Login.value)">
                <div *ngIf="notification!=null">
                    <div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
                        aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{notification}}
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                <div class="user-details">
                    <div class="input-box">

                        <input type="text" placeholder="User Id" #id name="userid" formControlName="userid" />
                    </div>
                    <div class="input-box">

                        <input type="text" placeholder="Password" name="password" formControlName="password" />
                    </div>
                </div>
                <div>
                    <button class="button">Login</button>
                    <button class="button" type="reset">Clear</button>
                </div>
                <!-- [routerLink]="['dashboard']" -->
                <div>
                    <a [routerLink]="['changePassword']" routerLinkActive="router-link-active">Reset Password</a> <br>
                    <a (onclick)="forgetpas(id.value)"   [routerLink]="['forgotPassword']" routerLinkActive="router-link-active">Forget Password</a><br>
                    <a [routerLink]="['register']">New User?Register here</a>
                </div>
            </form>

        </div>
    </div>
</div>
<app-footer> </app-footer>