
<div class="allighn">
    <div class="container" >

        <h1 class="title">Login </h1>
        <div class="content">
           
            <form [formGroup]="Login" class="#" (ngSubmit)="login(Login.value)">
                <div class="user-details">
                    <div class="input-box">

                        <input type="text" placeholder="User Id" name="userid" formControlName="userid" />
                    </div>
                    <div class="input-box">

                        <input type="text" placeholder="Password" name="password" formControlName="password" />
                    </div>
                </div>
                <div >
                    <button class="button"   >Login</button>
                    <button class="button" type="reset">Clear</button>
                </div>
                <!-- [routerLink]="['dashboard']" -->
                <div>
                    <a [routerLink]="['changePassword']" routerLinkActive="router-link-active" >Reset Password</a> <br>
                    <a [routerLink]="['forgotPassword']" routerLinkActive="router-link-active" >Forget Password</a><br>
                    <a [routerLink]="['register']"  >New User?Register here</a> 
                </div>
            </form>
            
        </div>
    </div>
</div>
<app-footer>   </app-footer>