<app-headder></app-headder>
<app-sidebar></app-sidebar>
<div class="container">

    <h1 class="title">Content Management System</h1>

    <div class="content">
        <form>

            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Documents Upload</h2><br>
                    <a href="#" class="card-button" [routerLink]="['/cmsUpload']">View Details</a>
                </div>
            </div>
            <br>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Magazine Upload</h2><br>
                    <a href="#" class="card-button" [routerLink]="['/magzineUpld']">View Details</a>
                </div>
            </div>
            <br>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Policy Upload</h2><br>
                    <a href="#" class="card-button" [routerLink]="['/policyupld']">View Details</a>
                </div>
            </div>


        </form>
    </div>
</div>
<app-footer></app-footer>