<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="allighn" *ngIf="user_type==='A1'">
    <div class="container">
        <div class="alert" *ngIf="notification">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{notification}}
        </div>
        <h1 class="title">Search Customer Details search</h1>

        <div class="content">
            <div></div>
            <form [formGroup]="coustomerIDSearch" class="#" (ngSubmit)="coustomer_ID_Search(coustomerIDSearch.value)">
                <div class="user-details">
                    <div class="input-box">
                        <label class="Details">Enter Customer Id </label>
                        <input type="text" placeholder="Customer ID" name="coustomerID" formControlName="coustomerID" />
                    </div>

                </div>
                <div>
                    <button class="button">Search</button>
                    <button class="button" type="reset">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>






<div class="allighn" *ngIf="show===true">
    <div class="container" style="margin-top: -45px;">

        <h1 class="title">Customer Detail People</h1>

        <div class="content">
            <div></div>
            <form [formGroup]="coustomerModification" class="#"
                (ngSubmit)="coustomer_Modification(coustomerModification.value)">
                <div class="user-details">
                    <div class="input-box">
                        <label class="Details">Customer Name</label>
                        <input type="text" placeholder="Customer Name" name="customerName"
                            [(ngModel)]="modData.customer_name" formControlName="customerName" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> Customer ID</label>
                        <input type="text" placeholder="Customer ID" name="customerID" [(ngModel)]="modData.customer_id"
                            formControlName="customerID" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> Client Address Line 1</label>
                        <input type="text" placeholder="Client Address Line 1" name="clientAddressLine1"
                            [(ngModel)]="modData.customer_addr1" formControlName="clientAddressLine1" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> Client Address Line 1</label>
                        <input type="text" placeholder="Client Address Line 2" name="clientAddressLine2"
                            [(ngModel)]="modData.customer_addr2" formControlName="clientAddressLine2" />
                    </div>
                    <div class="input-box">
                        <label class="Details">Country Name </label>
                        <input type="text" placeholder="Country Name " name="countryName " formControlName="countryName"
                            [(ngModel)]="modData.customer_country" />
                    </div>
                    <div class="input-box">
                        <label class="Details">City Name </label>
                        <input type="text" placeholder="City Name" name="cityName" formControlName="cityName"
                            [(ngModel)]="modData.customer_city" />
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- client detail 1 -->
<div class="allighn" *ngIf="show===true">
    <div class="container" style="margin-top: -45px;">

        <h1 class="title">Contact Details 1 call</h1>

        <div class="content">
            <div></div>
            <form [formGroup]="coustomerModification" class="#"
                (ngSubmit)="coustomer_Modification(coustomerModification.value)">
                <div class="user-details">
                    <div class="input-box">
                        <label class="Details">Client Name 1</label>
                        <input type="text" placeholder="Cient Name 1" name="clientName1"
                            [(ngModel)]="modData.client_name1" formControlName="clientName1" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> Client Email ID 1</label>
                        <input type="email" placeholder="client Email ID 1" name="clientEmialId1"
                            [(ngModel)]="modData.client_email1" formControlName="clientEmialId1" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> Clinet Contact Number 1</label>
                        <input type="text" placeholder="Clinet Contact Number 1" name="clinetContactNumber1"
                            [(ngModel)]="modData.client_contact1" formControlName="clinetContactNumber1" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- client detail 2 -->
<div class="allighn" *ngIf="show===true">
    <div class="container" style="margin-top: -45px;">

        <h1 class="title">Contact Details 2 call</h1>

        <div class="content">
            <div></div>
            <form [formGroup]="coustomerModification" class="#"
                (ngSubmit)="coustomer_Modification(coustomerModification.value)">
                <div class="user-details">
                    <div class="input-box">
                        <label class="Details">Client Name 2</label>
                        <input type="text" placeholder="Cient Name 1" name="clientName2"
                            [(ngModel)]="modData.client_name2" formControlName="clientName2" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> Client Email ID 2</label>
                        <input type="email" placeholder="Client Email ID 1" name="clientEmialId2"
                            [(ngModel)]="modData.client_email2" formControlName="clientEmialId2" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> Clinet Contact Number 2</label>
                        <input type="text" placeholder="Clinet Contact Number 2" name="clinetContactNumber2"
                            [(ngModel)]="modData.client_contact2" formControlName="clinetContactNumber2" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bank Detail Business-->
<div class="allighn" *ngIf="show===true">
    <div class="container" style="margin-top: -45px;">

        <h1 class="title">Bank Details Business</h1>

        <div class="content">
            <div></div>
            <form [formGroup]="coustomerModification" class="#"
                (ngSubmit)="coustomer_Modification(coustomerModification.value)">
                <div class="user-details">
                    <div class="input-box">
                        <label class="Details">GST Number</label>
                        <input type="text" placeholder="GST Number" name="GSTNumber" [(ngModel)]="modData.gstno"
                            formControlName="GSTNumber" />
                    </div>
                    <div class="input-box">
                        <label class="Details">PAN Number </label>
                        <input type="email" placeholder="PAN Number" name="PANNumber" [(ngModel)]="modData.pannum"
                            formControlName="PANNumber" />
                    </div>
                    <div class="input-box">
                        <label class="Details">Remarks </label>
                        <input type="email" placeholder="Remarks" name="remarks" formControlName="remarks" />
                    </div>


                </div>
                <div>
                    <button class="button">Modify</button>
                    <button class="button" type="reset">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>