<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container" class="tablecontainer" class="viewData" >

    <div class="table-content">
        <h3 class="title">View Travel Approval Queue</h3>
        <div class="alert" *ngIf="notification!=undefined">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{notification}}
        </div>
        <div *ngIf="user_type=='L1'">

            
            <label style="height: 50px;">Request Status :</label>
            <form [formGroup]="filterForm" (ngSubmit)="Filter(filterForm.value)">
                <select name="paymentType" formControlName="requeststatus" placeholder="select">
                    <option value="All">All</option>
                    <option value="CPF">Pending with Finance</option>
                    <option value="CAF">Approved by Finance</option>
                    <option value="RJF">Rejected by Finance</option>
                    <option value="CAN">Cancelled by Self</option>
                    <option value="PCF">Pending for Cancellation Approval</option>
                    <option value="CCF">Cancel Confirmed by Finance</option>
                </select>

                <button type="submit" class="button">Apply</button>
            </form>

        </div>
        <br> <br>

        <table>
            <thead>
                <tr>
                    <th>REQ ID</th>
                    <th>PROJECT ID</th>
                    <th>EMPLOYEE</th>
                    <th>FROM</th>
                    <th>TO</th>
                    <th>STATUS</th>
                    <th *ngIf="user_type!='L1'">Action</th>
                    <th *ngIf="rjt==true">Reject Reson</th>
                </tr>
            </thead>
            <br>
            <tbody>
                <tr *ngFor="let tq of viewtravel">
                    <td>{{ tq.req_id }}</td>
                    <td>{{ tq.project_id }}</td>
                    <td>{{ tq.emp_name }}</td>
                    <td>{{ tq.from_location }}</td>
                    <td>{{ tq.to_location }}</td>
                    <td>{{ tq.status ||tq.request_status }}</td>
                    <button type="button" class="btn btn-success" *ngIf="user_type=='L3'"
                        (click)="approveRejTravel('apr',tq)">Approve</button>
                    <span style="margin: 0 10px;" *ngIf="user_type=='L3'||user_type==='A1'"></span>
                    <button type="button" class="btn btn-danger" *ngIf="user_type=='L3'"
                        (click)="approveRejTravel('rej',tq)">Reject</button>

                    <button type="button" class="btn btn-danger" *ngIf="user_type=='F1'||user_type=='A1'"
                        (click)='viewDetTvlApr(tq)'>View</button>
                    <td *ngIf="rjt==true && specifc_req_id==tq.req_id "><input type="text" placeholder="Reject Reson" [(ngModel)]="rejectReson"></td>
                </tr>
            </tbody>

        </table>
        <br>

    </div>
</div>

<app-footer></app-footer>