<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container" class="tablecontainer" class="viewData">
    <div class="table-content">
        <h3 class="title">View Travel Approval Queue</h3>

        <div>

            <label>Filter :</label>
            <input type="text" class="serchdata"> <br><br>
            <label style="height: 50px;">Request Status :</label>


            <form [formGroup]="filterForm" (ngSubmit)="Filter(filterForm.value)">
                <select name="paymentType" formControlName="requeststatus" placeholder="select">
                    <option value="All">All</option>
                    <option value="APM">Pending with Finance</option>
                    <option value="APF">Approved by Finance</option>
                    <option value="RJF">Rejected by Finance</option>
                    <option value="CAN">Cancelled by Self</option>
                    <option value="CPF">Pending for Cancellation Approval</option>
                    <option value="CAF">Cancel Confirmed by Finance</option>
                </select>

                <button type="submit" class="button">Apply</button>
            </form>

        </div>
        <br> <br>

        <table>
            <thead>
                <tr>
                    <th>REQ ID</th>
                    <th>PROJECT ID</th>
                    <th>EMPLOYEE</th>
                    <th>FROM</th>
                    <th>TO</th>
                    <th>STATUS</th>

                </tr>
            </thead>
            <tbody  >
                <tr *ngFor="let tq of viewtravel">
                    <td>{{ tq.req_id }}</td>
                    <td>{{ tq.project_id }}</td>
                    <td>{{ tq.emp_name }}</td>
                    <td>{{ tq.from_location }}</td>
                    <td>{{ tq.to_location }}</td>
                    <td>{{ tq.status }}</td>

                </tr>
            </tbody>
        </table>
        <br>

    </div>
</div>

<app-footer></app-footer>