<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>


<div class="container" class="container">
    <h1 class="title">Search Employee Details</h1>
    <div class="content">
        <form [formGroup]="searchEmpolyeeDetailsForm" (ngSubmit)="onSubmit(searchEmpolyeeDetailsForm.value)">
            <div class="user-details">
                <div class="input-box">
                    <label  class="details">Employee Id</label>
                    <input type="number" placeholder="Employee Id" name="employeeId" formControlName="employeeId" />
                </div>
            </div>
            <div>
                <button class="button">Search</button>
                <button class="button" type="reset">Clear</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>