*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.top-bar {
position: fixed;
background-color:  #333;
width: 100%;
height: 60px;
display: flex;
align-items: center;
padding: 0 20px;
margin-top: 75px;

}
.top-content{
margin-left: 37px;
}

.menu li {
display: inline-block;
margin-right: 10px;

}

.menu li a {
text-decoration: none;
color: white;
font-weight: 10px;
margin-left: 39px;
cursor: pointer;
}

.menu li a:hover{
color: #ffab40;
}