<app-headder></app-headder>

<app-sidebar></app-sidebar>
<div class="container">
    <h1 class="title">Search Project Details</h1>

    <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
        <div class="user-details">
            <div class="input-box">
                <!-- <label for="projectId" class="details">Project Id</label> -->
                <input type="text" placeholder="Project Id" name="projectId" formControlName="projectId" />
            </div>
        </div>
        <div class="button-group">
            <button type="submit" class="button">Search</button>
            <button type="reset" class="button">Clear</button>
        </div>
    </form>
</div>

<app-footer></app-footer>