<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="allighn">
    <div class="container">

        <h1 class="title">Select Parent Project Id</h1>
        <div class="content">
            <div class="alert" *ngIf="notification">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{notification}}
              </div>
            <form [formGroup]="project_Detail" class="#" (ngSubmit)="projectDetail(project_Detail.value)">
                <div class="user-details">
                    <div class="input-box">
                        <label class="Details"> Project Id </label>
                        <input type="text" placeholder="Enter your project Id" name="Projectid"
                            formControlName="Projectid" />
                    </div>

                    <div class="input-box">
                        <label class="Details"> Customer Id </label>
                        <select name="customerId" formControlName="customerId">
                            <option *ngFor="let data of cocdcust" [value]="data.customer_id">{{
                                data.customer_name }}</option>
                        </select>
                    </div>

                    <div class="input-box">
                        <label class="Details"> Delivery Manager</label>
                        <select name="deliveryManager" formControlName="deliveryManager">
                            <option *ngFor="let data of cocddelname" [value]="data.emp_id">{{
                                data.emp_name }}</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label class="details">Payment Type</label>
                        <select name="paymentType" formControlName="paymentType" placeholder="Payment Type">
                            <option *ngFor="let data of cocdpmty" [value]="data.comm_code_id">{{
                                data.comm_code_desc }}</option>


                        </select>
                    </div>
                    <div class="input-box">
                        <label class="details">Customer Class</label>
                        <select name="customerClass" formControlName="customerClass" placeholder="Enter Customer Class">
                            <option *ngFor="let data of cocodcustclass" [value]="data.comm_code_id">{{
                                data.comm_code_desc }}</option>


                        </select>
                    </div>

                    <div class="input-box">
                        <label class="details">Project Team Size</label>
                        <input type="text" name="projectTeamSize" formControlName="projectTeamSize"
                            placeholder="projectTeamSize" />
                    </div>
                    <div class="input-box">
                        <label class="details">Project Manager</label>
                       
                            <select name="projectManager" formControlName="projectManager">
                                <option *ngFor="let data of cocdProjMgr" [value]="data.emp_id">{{
                                    data.emp_name }}</option>
                            </select>
                    </div>
                    <div class="input-box">
                        <label class="Details"> Project Type</label>
                        <select placeholder="Enter Project Type" name="projectType" formControlName="projectType">
                            <option *ngFor="let data of cocdpty" [value]="data.comm_code_id">{{
                                data.comm_code_desc }}</option>
                        </select>

                    </div>
                    <div class="input-box">
                        <label class="details">Project Currency</label>
                        <select name="projectCurrency" formControlName="projectCurrency" placeholder="project Currency">
                          
                            <option *ngFor="let data of cocodpcr" [value]="data.comm_code_id">{{
                                data.comm_code_id }}</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label class="Details">Conversation Rate</label>
                        <input type="text" placeholder="Enter Conversation Rate" name="conversationRate"
                            formControlName="conversationRate" />
                    </div>
                    <div class="input-box">
                        <label class="Details">Po number</label>
                        <input type="number" placeholder="Enter Po Number" name="poNumber" formControlName="poNumber" />
                    </div>
                    <div class="input-box">
                        <label class="details">Start Date</label>
                        <input type="date" name="startDate" formControlName="startDate">
                    </div>
                    <div class="input-box">
                        <label class="details">End Date</label>
                        <input type="date" name="endDate" formControlName="endDate">
                    </div>
                    <div class="input-box">
                        <label class="Details">Remarks</label>
                        <input type="text" placeholder="remarks" name="remarks" formControlName="remarks" />
                    </div>
                    <div>
                        <button class="button">Submit</button>
                        <button class="button" type="reset">Clear</button>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>