<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="allighn">
    <div class="container">

        <h1 class="title">Project Allocation Detailsassignment_ind</h1>
        <!-- <h1 class="headding">New User to Amber can register here.</h1> -->
        <div class="content">
            <div></div>
            <form [formGroup]="Project_Allocation" class="#" (ngSubmit)="projectAllocation(Project_Allocation.value)">
                <div class="user-details">
                    <div class="input-box">
                        <span class="btn-text">Select Employee</span>
                        <span class="checkbox">
                            <i class="fa-solid fa-check check-icon"></i>
                        </span>
                        <span class="item-text" *ngFor="let data of empname" value="data.emp_id">{{
                            data.emp_name }}</span>

                    </div>
                    <div class="input-box">
                        <label class="Details"> Project Id </label>
                        <input type="text" placeholder="Enter Your project Id" name="projectid"
                            formControlName="projectid" />
                        <!-- <select name="projectid" formControlName="projectid">
                                <option *ngFor="let data of cocdcust" [value]="data.customer_id">{{
                                    data.customer_name }}</option>
                            </select> -->
                    </div>

                    <div class="input-box">
                        <label class="Details"> Project Reporting Manager </label>
                        <select name="projectReportingManager" formControlName="projectReportingManager">
                            <option *ngFor="let data of manager" [value]="data.emp_id">{{
                                data.emp_name }}</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label class="details">Project Allocation</label>
                        <select name="projectAllocation" formControlName="projectAllocation">
                            <option value=""></option>
                            <option value="10%">10%</option>
                            <option value="20%">20%</option>
                            <option value="30%">30%</option>
                            <option value="40%">40%</option>
                            <option value="50%">50%</option>
                            <option value="60%">60%</option>
                            <option value="70%">70%</option>
                            <option value="80%">80%</option>
                            <option value="90%">90%</option>
                            <option value="100%">100%</option>

                        </select>
                    </div>
                    <div class="input-box">
                        <label class="details">Allocation Start Date (mm-dd-yyyy) </label>
                        <input type="date" name="allocationStartDate" formControlName="allocationStartDate">
                    </div>
                    <div class="input-box">
                        <label class="details">Allocation End Date (mm-dd-yyyy) </label>
                        <input type="date" name="allocationEndDate" formControlName="allocationEndDate">

                    </div>


                    <div style="display: flex;">

                        <div>
                            <div style="    display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin: -2px 113px -1px 9px;">
                                <div class="radioButton">
                                    <h1 class="radioButtontitle">Employee location type</h1>
                                    <label>OFFSHORE</label>
                                    <input type="radio" formControlName="employeeLocationType"
                                        name="employeeLocationType" value="OFFSHORE">
                                    <label>ONSITE</label>
                                    <input type="radio" formControlName="employeeLocationType"
                                        name="employeeLocationType" value="ONSITE">

                                </div>
                            </div>
                        </div>
                        <div>
                            <div style="    display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin: -2px 113px -1px 9px;">
                                <div class="radioButton">
                                    <h1 class="radioButtontitle">Employee Billable</h1>
                                    <label>YES</label>
                                    <input type="radio" formControlName="employeeBillable" name="employeeBillable"
                                        value="YES">
                                    <label>NO</label>
                                    <input type="radio" formControlName="employeeBillable" name="employeeBillable"
                                        value="NO">

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div>
                    <button class="button">Submit</button>
                    <button class="button" type="reset">Clear</button>
                </div>

            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>