<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>



<div class="allighn">
    <div class="container">

        <h1 class="title">Project Allocation Detailsassignment_ind</h1>

        <div class="content">
            <div></div>
            <form [formGroup]="Project_Allocation" class="#" (ngSubmit)="projectAllocation(Project_Allocation.value)">
                <div class="user-details">
                    <div class="input-box">
                        <div class="select-btn" (click)="toggleDropdown()">
                            <span class="btn-text">{{ selectedItems.length > 0 ? selectedItems.length + ' Selected' :
                                'Select Employee' }}</span>
                            <span class="arrow-dwn" [class.open]="isDropdownOpen">
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </div>

                        <ul class="list-items" *ngIf="isDropdownOpen">
                            <li class="item" *ngFor="let item of items" (click)="toggleItem(item)">
                              <span class="checkbox" [class.checked]="item.checked">
                                <i class="fa-solid fa-check check-icon"></i>
                              </span>
                              <span class="item-text" [attr.data-value]="item.emp_id">{{ item.emp_name }}</span>
                            </li>
                          </ul>
                          
                    </div>
                    <div class="input-box">
                        <label class="Details"> Number of Working Days</label>
                        <input type="text" placeholder="Enter Number of Working Days" name="noofworkingdays"
                            formControlName="noofworkingdays" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> Number of Working Months</label>
                        <input type="text" placeholder="Enter Number of Working Months" name="noofworkingmonths"
                            formControlName="noofworkingmonths" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> First Month  Days</label>
                        <input type="text" placeholder="Enter First Month  Days" name="firstmonthdays"
                            formControlName="firstmonthdays" />
                    </div>
                    <div class="input-box">
                        <label class="Details">Last Month  Days</label>
                        <input type="text" placeholder="Enter Last Month  Days" name="lastmonthdays"
                            formControlName="lastmonthdays" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> First Number of  Days</label>
                        <input type="text" placeholder="Enter First Number of  Days " name="firstnoofhdays"
                            formControlName="firstnoofhdays" />
                    </div>
                    <div class="input-box">
                        <label class="Details">Last Month  Days</label>
                        <input type="text" placeholder="Enter Last Month  Days" name="lastnoofhdays"
                            formControlName="lastnoofhdays" />
                    </div>
                    <div class="input-box">
                        <label class="Details">Conversion Rate</label>
                        <input type="text" placeholder="Enter Conversion Rate" name="convRate"
                            formControlName="convRate" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> Project Id </label>
                        <input type="text" placeholder="Enter Your project Id" name="projectid"
                            formControlName="projectid" />
                    </div>
                    <div class="input-box">
                        <label class="Details"> Project Reporting Manager </label>

                        <select placeholder="Project Reporting Manager" name="projectReportingManager"
                        formControlName="projectReportingManager">
                            <option *ngFor="let data of manager" [value]="data.emp_id">{{
                                data.emp_name }}</option>
                        </select>
                    </div>
                    
                    <div class="input-box">
                        <label class="details">Project Allocation</label>
                        <select name="projectAllocation" formControlName="projectAllocation">
                            <option value=""></option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="60">60</option>
                            <option value="70">70</option>
                            <option value="80">80</option>
                            <option value="90">90</option>
                            <option value="100">100</option>

                        </select>
                    </div>
                    <div class="input-box">
                        <label class="details">Allocation Start Date (mm-dd-yyyy) </label>
                        <input type="date" name="allocationStartDate" formControlName="allocationStartDate">
                    </div>
                    <div class="input-box">
                        <label class="details">Allocation End Date (mm-dd-yyyy) </label>
                        <input type="date" name="allocationEndDate" formControlName="allocationEndDate">

                    </div>


                    <div style="display: flex;">

                        <div>
                            <div style="    display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin: -2px 113px -1px 9px;">
                                <div class="radioButton">
                                    <h1 class="radioButtontitle">Employee location type</h1>
                                    <label>OFFSHORE</label>
                                    <input type="radio" formControlName="employeeLocationType"
                                        name="employeeLocationType" value="OFFSHORE">
                                    <label>ONSITE</label>
                                    <input type="radio" formControlName="employeeLocationType"
                                        name="employeeLocationType" value="ONSITE">

                                </div>
                            </div>
                        </div>
                        <div>
                            <div style="    display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin: -2px 113px -1px 9px;">
                                <div class="radioButton">
                                    <h1 class="radioButtontitle">Employee Billable</h1>
                                    <label>YES</label>
                                    <input type="radio" formControlName="employeeBillable" name="employeeBillable"
                                        value="Y">
                                    <label>NO</label>
                                    <input type="radio" formControlName="employeeBillable" name="employeeBillable"
                                        value="N">

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div>
                    <button class="button">Allocate</button>
                    <button class="button" type="reset">Clear</button>
                </div>

            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>