<div>
    <app-headder></app-headder>
    <app-topbar></app-topbar>
    <app-sidebar></app-sidebar>
    <div class="professional-details">
        <h2>Professional Details</h2>

        <p>Reimbursement Id: {{remburse_id}}</p>
        <p>Employee Id: {{empid}}</p>
        <p>Employee Name: {{ empname }}</p>
        <p>project Id: {{ project_id }}</p>
        <p>Employee Access: {{ emp_access }}</p>
        <p>Billing Date : {{ lodge_date }}</p>
        <p>Amount Payable: {{ amt_payable }}</p>
        <p>Reporting Manager: {{ reporting_mgr }}</p>
        <p>Request status: {{ status }}</p>
        <p>User Remarks: {{ user_remarks }}</p>

        <div>
            <button type="button" class="btn btn-success" *ngIf="user_type=='F1'||user_type==='A1'"
                (click)="approveclaim('apr')">Approve</button>
            <span style="margin: 0 10px;"></span>
            <button type="button" class="btn btn-danger" *ngIf="user_type=='F1'||user_type==='A1'"
                (click)="approveclaim('rej')">Reject</button>
            <span style="margin: 0 10px;"></span>

            <button type="button" class="btn btn-primary" routerLink="/reimbusmentreqdetails"  *ngIf="user_type=='F1'||user_type==='A1'">Back</button>
            <button type="button" class="btn btn-primary" routerLink="/reimbusmentapprove" *ngIf="user_type=='L3'">Back</button>


        </div>
        <div class="input-box" *ngIf="rjt==true">
            <label class="Details">Reject Reson</label>
            <input type="text" *ngIf="rjt==true" placeholder="Reject Reson" [(ngModel)]="rejectReson">
        </div>
    </div>


    <app-footer></app-footer>
</div>