<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="container" class="tablecontainer" class="viewData">
    <div class="table-content">

        <h1 class="titleViewPage">Professional KPI</h1>
        <br>

        <table>
            <thead>
                <tr>
                    <th>Indicator</th>
                    <th>Weightage</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="serchdata" type="text" name="Indicators"></td>
                    <td><input class="serchdata" type="text" name="Weightage"></td>
                    <td><input class="serchdata" type="text" name="Role"></td>
                </tr>
                <tr>
                    <td><input class="serchdata" type="text" name="Indicators"></td>
                    <td><input class="serchdata" type="text" name="Weightage"></td>
                    <td><input class="serchdata" type="text" name="Role"></td>
                </tr>
                <tr>
                    <td>Total Weightage</td>
                    <td><input class="serchdata" type="text" name="Weightage"></td>
                </tr>
            </tbody>
        </table>
    </div>





    <div class="table-content">
        <h1 class="title">Behavioural KPI</h1>


        <table>
            <thead>
                <tr>
                    <th>Indicator</th>
                    <th>Weightage</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="serchdata" type="text" name="Indicators"></td>
                    <td><input class="serchdata" type="text" name="Weightage"></td>
                    <td><input class="serchdata" type="text" name="Role"></td>
                </tr>
                <tr>
                    <td><input class="serchdata" type="text" name="Indicators"></td>
                    <td><input class="serchdata" type="text" name="Weightage"></td>
                    <td><input class="serchdata" type="text" name="Role"></td>
                </tr>
                <tr>
                    <td>Total Weightage</td>
                    <td><input class="serchdata" type="text" name="Weightage"></td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>





<div class="user-details">
    <div class="input-box">
        <h2 class="h2">Do you want to proceed with updating the data?</h2>
        
    </div>
    <button class="button" type="reset">cancel</button>
    <button class="button" type="reset">Submit</button>

</div>


<app-footer></app-footer>







