<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<h1 style="margin-left: 196px; margin-top: 26px;">Travel Request FAQs</h1>
<br><br>
<div class="container">
    <h4>Q1.How do I raise Travel request?</h4>
    <p>All employees have access to raise travel request iff employee is allocated to travel onsite on particular
        project. Under "Initiate Travel request" menu user can raise a request by entering valid inputs.</p>
    <br>
    <h4>Q2.Is a Travel Request required in order to travel?</h4>
    <p>Yes,one must raise a request to travel onsite since it has to be authorized by respective reporting manager and
        higher authorities.</p>
    <br>
    <h4>Q3.Whom do I contact for assistance?</h4>
    <p>Once the raised request approved by your Manager, kindly contact Financial Head for further booking process.</p>
    <br>
    <h4>Q4.Where do am I able to review the requests raised by me? </h4>
    <p>Employee is allowed to view the requests raised by them categorized by status(pending or approved or rejected)
        which is stored under "View Request" menu option.</p>
    <br>
    <h4>Q5.Can I modify my travel request initiated?</h4>
    <p>Employee is allowed to modify his/her travel request which fall in the catagory of the status pending,approved by
        manager or confirmed by Finance.</p>
    <br>
    <h4>Q6.Can I cancel my travel request initiated?</h4>
    <p>Employee is allowed to cancel his/her travel request which fall in the catagory of the status pending,approved by
        manager or confirmed by Finance.</p>
    <br>
    <h4>Q7.Whether approval is required after modification/cancellation of requests?</h4>
    <p>Yes ,further approval is required if he/she Modifys any of the requests and in case of Cancel further approval is
        requried only when user cancels requests that falls in the category of status Confirmed by Finance.The
        notification of each action will be forwarded to respective approval authorities.</p>
    <br>
    <h4>Q8.Can I re-call the request which has been rejected by higher authorities?</h4>
    <p>No, new request has to be raised.</p>
</div>
<app-footer></app-footer>