<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar> 

<div class="container1">
  <h2 class="header">Sent Items</h2>
  <ul class="message-list">
    <li *ngFor="let message of messages" class="message-item">
      <div class="message-header">
        <strong class="to-label">To: </strong>
        <span class="to-user">{{ message.to_user }}</span>
      </div>
      <div class="message-content">
        <strong class="message-label">Message: </strong>
        <span class="message-text">{{ message.mssg }}</span>
      </div>
    </li>
  </ul>
</div>

