<app-headder></app-headder>
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>



<div class="allighn">
    <div class="container">
       
        <h1 class="title"> De-Allocate Project work</h1>
        <!-- <h1 class="headding">New User to Amber can register here.</h1> -->
        <div class="content">
            <div></div>
            <form [formGroup]="ProjectId" class="#" (ngSubmit)="projectId(ProjectId.value)">
                <div class="user-details">

                    <div class="input-box">
                        <label class="Details"> Project Id </label>
                        <select name="projectid" placeholder="Select Your project Id" formControlName="projectid">
                            <option *ngFor="let data of searchProjcetId" [value]="data.project_id">{{
                                data.customer_name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button class="button">De Allocate</button>
                    <button class="button" type="reset">Clear</button>
                </div>

            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>